.dialogWindow{
    display: flex;
    margin: 10px;
}

.dialogs{
    flex-grow: 1;
    padding: 10px;
}

.messages{
    flex-grow: 11;
    padding: 10px;
}

.dialog{
    margin: 4px;
    color: white;
}

.msg{
    margin: 7px;
    color: white;
}